<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/head') %>
</head>
<body>
    <h1>Convert My Money</h1>
    <form method="GET" action="/quotation">
        <input type="text" name="price" id="price" placeholder="Cotação do Dólar">
        <input type="text" name="amount" id="amount" placeholder="Quantidade em Dólares">
        <button type="submit">Converter!</button>
    </form>
</body>
</html>