<%- include('template/header.ejs') %>

<div class="grid grid-cols-4 gap-2 p-4">
  <article class="p-4 bg-gray-500 rounded-sm text-white">
    <h2 class="font-bol text-lg">Título</h2>
    <p>Descrição</p>
  </article>
  <article class="p-4 bg-gray-500 rounded-sm text-white">
    <h2 class="font-bol text-lg">Título</h2>
    <p>Descrição</p>
  </article>
  <article class="p-4 bg-gray-500 rounded-sm text-white">
    <h2 class="font-bol text-lg">Título</h2>
    <p>Descrição</p>
  </article>
  <article class="p-4 bg-gray-500 rounded-sm text-white">
    <h2 class="font-bol text-lg">Título</h2>
    <p>Descrição</p>
  </article>
</div>
